<div class="jumbotron">
<h1>Genesis Tale</h1>
<p>Awesome! awesome!</p>
<%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary'  %>
</div>